/Sipo/SipoDataAcquisition/SipoDataAcquisition/.vs

/Sipo/SipoDataAcquisition/SipoDataAcquisition/bin

/Sipo/SipoDataAcquisition/SipoDataAcquisition/obj
/Sipo/SipoDataAcquisition/SipoDataAcquisition/SipoDataAcquisition/.vs

/Sipo/SipoDataAcquisition/SipoDataAcquisition/SipoDataAcquisition/bin

/Sipo/SipoDataAcquisition/SipoDataAcquisition/SipoDataAcquisition/obj